input[type="date"] {
    padding: 0.75rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    color: #333;
    font-size: 0.875rem;
    width: 100%;
    box-sizing: border-box;
  }
  

  input[type="date"]:focus {
    border-color: #e07a5f; 
    outline: none;
    background-color: #ffffff; 
  }
  
  input[type="date"].custom-class {
    width: 80%; 
  }
  option:disabled {
    background-color: #e0e0e0; 
    color: #ffffff;
    cursor: not-allowed; 
  }
  